@import "tailwindcss";
@plugin "daisyui";

body{
    overflow-x: hidden;
}
html, body, #root {
  height: 100%;
}
/* In your index.css or global stylesheet */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@layer utilities {
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
  }

  .animate-shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }
}

@layer utilities {
  .animate-\[progress_1\.5s_linear\] {
    animation: progress 1.5s linear forwards;
  }
  @keyframes progress {
    from { width: 0%; }
    to { width: 100%; }
  }
}
